.basketItem {
  display: flex;
  /* padding: 3%; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.basket__left {
  margin: 2%;
}

.basket__right {
  padding-left: 2%;
}

.basket__image {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.rating {
  display: flex;
}

.remove__btn {
  cursor: pointer;
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 8%;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
}

.remove__btn:hover {
  background-color: rgb(179, 175, 175);
  color: #111;

  opacity: 0.8;
}
